@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0;
    padding: 0;
}

.postBox{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 40px;
    width: 960px;
    margin-bottom: 20px;

}

p{

font-family: 'Be Vietnam';
font-weight: 400;
font-size: 17px;


}

.textoPost{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 280px;
}

@media(max-width: 850px)  {
    .postBox{
        width: 310px;
        flex-direction: column;
    }

    .postimg{
        width: 310px ;
        height: 179px;
    }
    
}